name: RelWithDebInfo

on:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        config:
        - name: Windows
          os: windows-latest
          
        - name: macOS
          os: macos-latest

        - name: Android32
          os: ubuntu-latest
          target: Android32
          android-ndk-version: 26.3.11579264

        - name: Android64
          os: ubuntu-latest
          target: Android64
          android-ndk-version: 26.3.11579264

        - name: iOS
          os: macos-latest
          target: iOS

    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}

    steps:
      - uses: actions/checkout@v4

      - name: RelWithDebInfo
        uses: geode-sdk/build-geode-mod@main
        with:
          bindings: RayDeeUx/bindings
          bindings-ref: "holy-fuck-viper-stop-working-on-this-dogshit-mod"
          build-config: RelWithDebInfo # [vscode] comment this out (and the line below!) to Release mode
          export-pdb: true # [vscode] comment this out (and the line above!) to Release mode
          combine: true
          target: ${{ matrix.config.target }}
          android-ndk-version: ${{ matrix.config.android-ndk-version }}

  package:
    name: Package builds
    runs-on: ubuntu-latest
    needs: ['build']

    steps:
      - uses: geode-sdk/build-geode-mod/combine@main
        id: build

      - uses: actions/upload-artifact@v4
        with:
          name: Build Output

          path: ${{ steps.build.outputs.build-output }}
